/* Header */

.header_bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  background-color: rgba(238, 238, 238, 0.7);
}

.profile_box {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.profile_img {
  background-color: black;
  width: 6rem;
  height: 6rem;
  margin-right: 0.8rem;
}

.profile_img img {
  width: 100%;
  height: 100%;
}

.profile_text p {
  margin: 0;
  line-height: 3.2rem;
  font-size: 3.2rem;
}

.menu_options {
  width: 50.7%;
  display: flex;
  justify-content: space-around;
  font-size: 5rem;
}

.menu_options div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu_options img {
  margin-right: 0.8rem;
}

.cash_point_box,
.cash_point_box_mobile {
  display: flex;
  height: 4rem;
  margin-right: 2.8rem;
}

.cash_point_box_mobile {
  margin-right: 0;
}

.cash_point_text {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #222;
  border-right: none;
  border-radius: 8px 0 0 8px;
}

.cash_point_text img {
  margin-left: 1rem;
  padding: 1rem 0 0 0;
}

.cash_point_text span {
  font-size: 3.2rem;
  margin: 0 1.8rem 0 1rem;
}

.cash_point_btn {
  color: white;
  background-color: #8888ff;
  width: 3.2rem;
  border: 1px solid #222;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.cash_point_btn:hover {
  background-color: #7070ff;
}

.cash_point_btn img {
  padding: 1rem 0 0 0.5rem;
  width: 2rem;
  height: 2rem;
}

/* Mobile Menu */
.mobile_menu_btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 4rem;
  border-radius: 8px;
  background-color: #8888ff;
  cursor: pointer;
}

.mobile_menu_btn:hover {
  background-color: #7070ff;
}

.mobile_menu_modal {
  width: 100%;
  z-index: 5;
  background-color: #ffffff;
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  top: 100%;
  list-style: none;
  font-size: 3.2rem;
  visibility: hidden;
  opacity: 0;
}

.mobile_menu_options,
.mobile_menu_account {
  display: flex;
  align-items: center;
  padding: 0.8rem 3rem;
  border-top: 1px solid #eee;
}

.mobile_signout {
  display: flex;
}

.mobile_menu_options,
.mobile_signout {
  cursor: pointer;
}

.mobile_menu_options:hover {
  background-color: #eee;
}

.mobile_menu_options img,
.mobile_signout img {
  margin-right: 1.2rem;
}

.mobile_menu_account {
  justify-content: space-between;
}

/* Footer */
.footer_bar {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10rem;
  background-color: rgba(238, 238, 238, 0.7);
  font-size: 5rem;
}

.footer_bar div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer_bar img {
  margin-right: 0.8rem;
}

@media screen and (max-width: 992px), screen and (max-height: 984px) {
  .mobile_menu_btn {
    display: flex;
  }

  .menu_options {
    display: none;
  }

  .cash_point_box {
    display: none;
  }

  .footer_bar {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .profile_box {
    margin-left: 2rem;
  }

  .mobile_menu_btn {
    margin-right: 2rem;
  }
}
