.mr_1 {
  margin-right: 1rem;
}

.mr_half {
  margin-right: 0.5rem;
}

.ml_1 {
  margin-left: 1rem;
}

.ml_half {
  margin-left: 0.5rem;
}

.m_auto {
  display: flex;
  justify-content: center;
}

.lobby_top,
.lobby_bottom {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.lobby_bottom {
  width: 100%;
  position: absolute;
  bottom: 10rem;
}

.sm_box,
.lg_box {
  width: 100%;
  min-width: 390px;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.7);
  border-radius: 4px;
}

.sm_box {
  width: 100%;
  height: 100%;
  max-width: 390px;
}

.lg_box {
  width: 100%;
  max-width: 990px;
}

.close_btn {
  padding: 0.6rem 0.6rem 0.7rem;
  height: 3rem;
  text-align: right;
}

.close_btn img {
  cursor: pointer;
}

.detail_box_top {
  padding: 0rem 2rem 2rem;
  min-height: 304px;
}

.detail_box_bottom {
  padding: 0 2rem 2rem;
  min-height: 365px;
}

.detail {
  background-color: #ffffff;
  border-radius: 8px;
}

.bg_gray {
  background-color: #eee;
}

.mobile_responsive {
  max-width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* profile */
.profile_icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2.5rem;
  border-bottom: 2px dashed #8888ff;
}

.profile_icon_btn img {
  cursor: pointer;
}

.profile_icon_img {
  width: 12rem;
  height: 12rem;
}

.profile_icon_img img {
  width: 100%;
  height: 100%;
}

.profile_info {
  font-size: 3.2rem;
  padding: 1rem 4rem;
}

.profile_info p {
  margin: 0;
}

.profile_info img {
  cursor: pointer;
}

.profile_info_nickname {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* notice */
.notice_window {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: #8888ff;
  border-radius: 8px 8px 0 0;
}

.notice_grp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.notice_icon {
  display: flex;
  align-items: center;
  font-size: 3.2rem;
  color: #ffffff;
  margin: 0 2rem;
}

.notice_icon span {
  margin-left: 0.8rem;
}

.notice_preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72.9%;
  max-width: 500px;
  height: 3rem;
  border-radius: 8px;
  font-size: 2.4rem;
  background-color: #ffffff;
}

.notice_preview div {
  display: flex;
  align-items: center;
}

.notice_preview img {
  margin: 0 0.8rem;
  width: 2.75rem;
  height: 2.2rem;
}

.notice_prev_type,
.notice_prev_title {
  margin: 0 0.8rem 0 0;
}

.notice_prev_title {
  cursor: pointer;
}

.notice_prev_title:hover {
  color: #8888ff;
}

.notice_date {
  padding-top: 0.3rem;
  margin: 0 0.8rem 0 2rem;
}

.notice_drop_down {
  cursor: pointer;
  margin: 0 2rem 0 1rem;
}

.notice_detail {
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  font-size: 2.4rem;
  min-height: 234px;
  max-height: 234px;
  overflow: auto;
}

.notice_list {
  display: flex;
  justify-content: space-evenly;
}

.notice_type {
  min-width: 6.4rem;
  text-align: center;
  margin: 0 1rem;
}

.notice_title {
  cursor: pointer;
  margin: 0 1rem 0 0;
}

.notice_title:hover {
  color: #8888ff;
}

/* Chat */
.chat_field {
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
  scrollbar-gutter: stable;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
}

.chat_content {
  font-size: 2.4rem;
}

.chat_msg {
  word-break: break-all;
}

.chat_id {
  color: #8888ff;
  margin-right: 1rem;
}

.chat_input_group {
  display: flex;
}

.chat_input_group input {
  width: 100%;
  border: none;
  border-radius: 8px 0 0 8px;
  font-size: 1.6rem;
  padding: 0 1rem;
}

.chat_input_group input:focus {
  outline: none;
}

.chat_send_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 8px 8px 0;
  width: 7rem;
  height: 4rem;
  background-color: #656565;
}

/* Member List */
.member_window {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  background-color: #8888ff;
  border-radius: 8px 8px 0 0;
  font-size: 3.2rem;
  color: #ffffff;
  overflow: auto;
  scrollbar-gutter: stable;
}

.member_detail {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  font-size: 2.4rem;
  min-height: 295px;
  max-height: 295px;
  overflow: auto;
  scrollbar-gutter: stable;
}

.member_list {
  display: flex;
}

.member_nickname_col,
.member_nickname {
  width: 50%;
  text-align: center;
}

.member_nickname {
  cursor: pointer;
}

.member_nickname:hover {
  color: #8888ff;
}

.member_score,
.member_location {
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 1135px) {
  .notice_date {
    display: none;
  }

  .notice_icon {
    margin: 0 1rem;
  }

  .notice_drop_down {
    margin: 0 1rem;
  }

  .notice_date {
    display: none;
  }
}

@media screen and (max-width: 992px), screen and (max-height: 932px) {
  .lobby_bottom {
    bottom: 0rem;
  }
}

@media screen and (max-width: 992px) {
  .notice_preview {
    display: none;
  }
}

@media screen and (max-width: 840px), screen and (max-height: 837px) {
  .mr_1 {
    margin: 0 0 1rem 0;
  }

  .ml_1 {
    margin: 0 0 1rem 0;
  }
}

@media screen and (max-width: 794px) {
  .mobile_responsive {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
