.wrapper{
    max-width: 800px;
    min-width: 400px;
    max-height: 600px;
    flex:1 0 0;
    align-self: stretch;
    position: relative;
    justify-content: center;
}
.canvas{
    background-color: #fff;
    width:100%;
    height:auto;
    z-index: 1;
    /* image-rendering: pixelated; */
}
.timer{
    position: absolute;
    top:0px;
    left:0px;
    width:0%;
    height:0.5rem;
    z-index: 10;
    background-color: blue;
    transition: width linear 1s;
    pointer-events: none;
}