.lobby {
  position: relative;
  min-height: 100vh;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.lobby_main_box {
  min-height: calc(100vh - 100px);
  height: 100%;
}

/* Modals */
.detail_modal_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: rgba(34, 34, 34, 0.7);
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.3s;
}

.fade_in {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}

.detail_modal_box {
  width: 100%;
  max-width: 60rem;
  padding: 2rem;
}

.detail_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  animation-name: box_animation;
  animation-duration: 0.4s;
}

.d_hide {
  display: none;
}

@keyframes box_animation {
  0% {
    transform: scale(0);
  }

  75% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* Tips */
.tip_box {
  position: absolute;
  z-index: -5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 5rem;
  height: calc(100vh - 20rem);
  background-color: #ffffff;
}

.tip_row {
  display: flex;
}

.tip {
  width: 30rem;
  height: 30rem;
  background-color: pink;
  transform: rotate(-15deg);
}

.second {
  margin-top: 10rem;
  transform: rotate(15deg);
}

.third {
  transform: rotate(0);
}

.tip_arrow {
  margin: 0 5rem 10rem;
  width: 20rem;
}

.tip_arrow img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px), screen and (max-height: 984px) {
  .tip {
    width: 20rem;
    height: 20rem;
    background-color: green;
  }

  .tip_arrow {
    margin: 2rem 5rem 10rem;
    width: 20rem;
  }

  .tip_box {
    height: calc(100vh - 10rem);
  }
}

@media screen and (max-width: 768px), screen and (max-height: 768px) {
  .tip {
    width: 20rem;
    height: 20rem;
    background-color: black;
  }

  .tip_box {
    justify-content: space-evenly;
    width: 100%;
    padding-top: 0rem;
    height: calc(100vh - 10rem);
    background-color: #ffffff;
  }

  .second {
    margin-top: 0;
    transform: rotate(15deg);
  }

  .third {
    transform: rotate(-15deg);
  }
}
